<%= form_with model: team do |form| %>
  <div class="form__group">
    <%= form.label :name, class: 'form__label' %>
    <%= form.text_field :name, class: 'form__input' %>
    <% team.errors.full_messages_for(:name).each do |message| %>
      <span class="form__error"><%= message %></span>
    <% end %>
  </div>

  <div class="form__group">
    <button class="teams__form-button"><span class="material-icons">check</span></button>
  </div>
<% end %>
