<%= render 'shared/navbar' %>

<ul>
  <% @skills.each do |skill| %>
    <li>
      <%= link_to skill do %>
        <%= skill.name %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to t('skills.index.new'), new_skill_path %>
