<footer class="bottom-bar">
  <nav class="bottom-bar__nav">
    <ul class="bottom-bar__list">
      <li class="bottom-bar__item">
        <%= link_to skills_path do %>
        <span class="material-icons">construction</span>
        <span>Skills</span>
        <% end %>
      </li>
      <li class="bottom-bar__item">
        <%= link_to teams_path do %>
        <span class="material-icons">people</span>
        <span>Teams</span>
        <% end %>
      </li>
    </ul>
  </nav>
</footer>
