<nav class="navbar">
  <ul class="navbar__list">
    <li class="navbar__item"><%= link_to t('navbar.skills'), skills_path %></li>
    <li class="navbar__item"><%= link_to t('navbar.developers'), developers_path %></li>
    <li class="navbar__item"><%= link_to t('navbar.matrix'), matrices_path %></li>
    <li class="navbar__item"><%= link_to t('navbar.exit'), sessions_path, method: :delete %></li>
  </ul>
</nav>
