.alert {
  align-items: center;
  bottom: 0;
  display: flex;
  left: 0;
  height: 45px;
  padding: 0 13px;
  position: fixed;
  right: 0;

  &--error {
    background-color: #db2828;
    color: #ffffff;
  }
}
