.field_with_errors {
  label {
    color: #9f3a38;
  }

  input {
    background-color: #fff6f6;
    border-color: #e0b4b4;
    color: #9f3a38;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 13px;

  &:first-of-type {
    margin-top: 21px;
  }
}

.form-label {
  font-size: 12px;
  font-weight: 600;
}

.form-input {
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 3px;
  height: 38px;
  margin-top: 5px;
  outline: none;
  padding: 8px 13px;
  width: 100%;

  &:focus {
    border: 1px solid #85b7d9;
  }
}

.submit {
  background-color: #e0e1e2;
  border: none;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-weight: 600;
  height: 40px;
  margin-top: 13px;
  min-width: 100px;
  padding: 8px 13px;
  transition: 0.2s;

  &:hover {
    background-color: darken(#e0e1e1, 10%);
    color: darken(rgba(0, 0, 0, 0.6), 10%);
  }
}

.errors {
  background-color: #fff6f6;
  border: 1px solid #e0b4b4;
  border-radius: 3px;
  color: #9f3a38;
  font-size: 14px;
  margin-top: 8px;
  padding: 16px;

  ul {
    list-style: initial;
    margin: 0 16px;
  }

  li {
    margin: 5px 0;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
