.navbar {
  $background-color: white;
  $border-color: #d9dde4;
  $link-color: #1272de;
  $text-color: #2e2e2e;

  background-color: $background-color;
  border-bottom: 1px solid $border-color;
  height: 64px;

  &__list {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0 16px;
    width: 100%;
  }

  &__item {
    padding: 5px 8px;
    margin-right: 5px;

    a {
      color: $text-color;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        color: $link-color;
      }
    }

    &--active a {
      color: $link-color;
    }

    &--right {
      flex: 1;
      text-align: right;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
