$background-color: #f1f3f5;
$button-background-color: #1272de;
$button-text-color: white;
$form-background-color: white;
$input-border-color: #97a1ac;
$input-focus-border-color: $button-background-color;

.sessions-new {
  background-color: $background-color;
  height: 100%;
  padding: 16px;

  form {
    background-color: $form-background-color;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    margin: 0 auto;
    max-width: 380px;
    padding: 32px;

    h1 {
      font-size: 32px;
      font-weight: 600;
    }

    @media screen and(min-width: 425px) {
      padding: 64px;
    }
  }

  &__form-group {
    display: flex;
    flex-direction: column;
    margin-top: 13px;

    &:first-of-type {
      margin-top: 21px;
    }
  }

  &__form-label {
    font-weight: 600;
  }

  &__form-input {
    border: 1px solid $input-border-color;
    border-radius: 3px;
    font-size: 16px;
    height: 45px;
    margin-top: 13px;
    padding: 8px 13px;
    outline: none;
    transition: 0.2s;
    width: 100%;

    &:focus {
      border: 1px solid $input-focus-border-color;
    }
  }

  &__submit {
    background-color: $button-background-color;
    border: none;
    border-radius: 3px;
    color: $button-text-color;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-top: 34px;
    outline: none;
    padding: 13px 21px;
    transition: 0.2s;
    width: 100%;

    &:hover {
      background-color: lighten($button-background-color, 5%);
    }
  }
}
