.sessions-new {
  max-width: 720px;
  padding: 16px;
  width: 100%;

  &::before {
    background-color: #2e2e2e;
    content: "";
    height: 4px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  h1 {
    font-size: 28px;
    font-weight: 600;
  }
}
