.skills-index {
  padding: 16px;
  max-width: 720px;
  width: 100%;

  &::before {
    background-color: #2e2e2e;
    content: "";
    height: 4px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  h1 {
    border-bottom: 1px solid rgba(34,36,38,.15);
    font-size: 28px;
    font-weight: 600;
  }

  .table {
    margin-top: 21px;
  }
}
