.skills-index {
  padding: 16px;
  max-width: 720px;
  width: 100%;

  &::before {
    background-color: #2e2e2e;
    content: "";
    height: 4px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  table {
    border-collapse: initial;
    table-layout: fixed;
    width: 100%;

    th {
      background-color: #f9fafb;
      border: 1px solid rgba(34,36,38,.1);
      border-left: none;
      font-size: 14px;
      font-weight: 600;
      padding: 8px 5px;
      text-align: left;

      &:first-child {
        border-left: 1px solid rgba(34,36,38,.1);
        border-radius: 3px 0 0 0;
      }

      &:last-child {
        border-radius: 0 3px 0 0;
      }
    }

    td {
      border-bottom: 1px solid rgba(34,36,38,.1);
      border-right: 1px solid rgba(34,36,38,.1);
      font-size: 14px;
      padding: 8px 5px;
      text-align: left;

      &:first-child {
        border-left: 1px solid rgba(34,36,38,.1);
      }
    }

    tr:last-child {
      td:first-child {
        border-radius: 0 0 0 3px;
      }

      td:last-child {
        border-radius: 0 0 3px 0;
      }
    }
  }
}
