.skills-index {
  padding: 16px;
  max-width: 720px;
  width: 100%;

  &::before {
    background-color: #2e2e2e;
    content: "";
    height: 4px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  h1 {
    border-bottom: 1px solid rgba(34,36,38,.15);
    font-size: 28px;
    font-weight: 600;
  }

  .table {
    margin-top: 21px;
  }

  &__add {
    align-items: center;
    background-color: #2e2e2e;
    border-radius: 100%;
    bottom: 16px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: #fff;
    display: flex;
    height: 50px;
    justify-content: center;
    position: fixed;
    right: 16px;
    text-decoration: none;
    width: 50px;
  }
}

.skills-new {
  padding: 16px;
  max-width: 720px;
  width: 100%;

  &::before {
    background-color: #2e2e2e;
    content: "";
    height: 4px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  h1 {
    font-size: 28px;
    font-weight: 600;
  }
}

.skills-edit {
  padding: 16px;
  max-width: 720px;
  width: 100%;

  &::before {
    background-color: #2e2e2e;
    content: "";
    height: 4px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  h1 {
    font-size: 28px;
    font-weight: 600;
  }
}
